<div id="sketchbook" class="row h-100 sketchbook" ng-init="fnCreate()">
    <div class="col-md-9 p-0 h-100">
        <ul class="nav nav-pills border-bottom">
            <li class="nav-item" ng-repeat="shapeObj in shapesArr" ng-click="fnSetSelectedShape(shapeObj)">
                <a class="nav-link rounded-0" href="javascript:void(0);" title="{{shapeObj.name}}"
                   ng-class="{'active': selectedShapeObj.name === shapeObj.name}">
                    <i class="fa fa-fw {{shapeObj.icon}}"></i></a>
            </li>
        </ul>
        <div id="draw-container" class="draw-container"></div>
    </div>
    <div class="col-md-3 border-left h-100">
        <h3>Properties</h3>
        <div class="col-md-12"
             ng-if="propertyObj"
             ng-repeat="(key, val) in propertyObj.style">
            <div class="col-md-12 p-0">
                <label class="text-capitalize">{{key}}</label>
            </div>
            <div class="col-md-12 p-0">
                <input required type="text" ng-model="propertyObj.style[key]">
            </div>
        </div>
        <div class="col-md-12 mt-2" ng-if="propertyObj">
            <button type="button" class="btn btn-primary"
                    ng-click="fnUpdateProperties()">
                Update Settings
            </button>
        </div>
    </div>

</div>
