<div id="sketchbook" class="row h-100 sketchbook" ng-init="fnCreate()">
    <div class="col-md-9 p-0 h-100">
        <ul class="nav nav-pills border-bottom">
            <li class="nav-item" ng-repeat="shapeObj in shapesArr" ng-click="fnSetSelectedShape(shapeObj)">
                <a class="nav-link rounded-0" href="javascript:void(0);" title="{{shapeObj.name}}"
                   ng-if="shapeObj.attrType === 'Common' || shapeObj.attrType === sbData.data.display"
                   ng-class="{'active': selectedShapeObj.name === shapeObj.name}">
                    <i class="fa fa-fw {{shapeObj.icon}}"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-0"  href="javascript:void(0);"
                   ng-click="fnExitAttributeEdit()">Back</a>
            </li>
            <li class="nav-item" ng-if="sbData.metadata.length !== 0">
                <a class="nav-link rounded-0"  href="javascript:void(0);"
                    ng-click="fnSaveAttribute()">Save</a>
            </li>
        </ul>
        <div id="draw-container" class="draw-container"></div>
    </div>
    <div class="col-md-3 border-left h-100 propertiesDiv">
        <div class="col-12 p-0">
            <h3 class="mt-2">Properties</h3>
            <div id="accordion">
                <div class="card" ng-if="propertyObj">
                    <div class="card-header p-0" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Styles
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                         data-parent="#accordion">
                        <div class="card-body">
                            <div class="col-12 p-0"
                                 ng-repeat="(key, val) in propertyObj.style">
                                <div class="col-md-12 p-0">
                                    <label class="text-capitalize">{{key}}</label>
                                </div>
                                <div class="col-md-12 p-0 mb-2" ng-if="key !== 'font-size'">
                                    <input required type="text" ng-model="propertyObj.style[key]">
                                </div>
                                <div class="col-md-12 p-0 mb-2" ng-if="key === 'font-size'">
                                    <input required type="number" ng-model="propertyObj.style[key]">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-2" ng-if="propertyObj.height >= 0 || propertyObj.width >= 0">
                    <div class="card-header p-0" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                Dimensions
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                         data-parent="#accordion">
                        <div class="card-body">
                            <div class="col-12 p-0">
                                <div class="col-md-12 p-0">
                                    <label class="text-capitalize">Height</label>
                                </div>
                                <div class="col-md-12 p-0 mb-2">
                                    <input required type="number"
                                           ng-change="!propertyObj.height ? propertyObj.height = 0 : ''"
                                           ng-model="propertyObj.height">
                                </div>
                            </div>
                            <div class="col-12 p-0">
                                <div class="col-md-12 p-0">
                                    <label class="text-capitalize">Width</label>
                                </div>
                                <div class="col-md-12 p-0 mb-2">
                                    <input required type="number"
                                           ng-change="!propertyObj.width ? propertyObj.width = 0 : ''"
                                           ng-model="propertyObj.width">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" ng-if="propertyObj.text">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                Value
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                         data-parent="#accordion">
                        <div class="card-body">
                            <div class="col-12 p-0">
                                <div class="col-md-12 p-0">
                                    <label class="text-capitalize">Value</label>
                                </div>
                                <div class="col-md-12 p-0 mb-2">
                                    <input required type="text"
                                           ng-model="propertyObj.text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 p-0 mt-2" ng-if="propertyObj">
                <button type="button" class="btn btn-primary pull-right"
                        ng-click="fnUpdateProperties()">
                    Update Settings
                </button>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-12 p-0" ui-sortable="sortableOptions" ng-model="sbData.metadata">
            <div class="col-12 p-0"
                 ng-repeat="metadataObj in sbData.metadata track by $index"
                 ng-mouseover="fnHighlightShape(true, metadataObj)"
                 ng-mouseleave="fnHighlightShape(false, metadataObj)">
                <i class="mr-2 fa" ng-class="metadataObj.icon"></i>
                <label>{{metadataObj.name}}</label>
            </div>
        </div>
    </div>

</div>
